.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: xx-large;
    width: 100%;
    height: 100%;
    position: relative;  
    min-height: 100vh;
}

.paper{
    
    min-height: 80vh;
    width: 90vw;
    border-radius: 2rem;
    margin: 3rem 0rem;
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.2), rgba(255,255,255,0.3));
    backdrop-filter: blur(1rem);
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.circle1, .circle2, .circle3{
    border-radius: 50%;
    background: linear-gradient(to right bottom, rgba(0, 255, 234, 0.6), rgba(211, 238, 224, 0.7));
    position: absolute;
}

.circle1{
    height: 7rem;
    width: 7rem;
    top:50%;
    right: 10%;
    animation: circle1 10s linear infinite;
}

.circle2{
    height: 5rem;
    width: 5rem;
    top:5%;
    left:5%;
    animation: circle2 15s linear infinite;
}

.circle3{
    height: 15rem;
    width: 15rem;
    top:30%;
    animation: circle3 10s linear infinite;
}


.duck{
    margin-top: 5rem;    
}

.scene{
    width: 30%;
    height: auto;
    border-radius: 2rem;
    margin-top: 5rem;
        animation: scooter 15s linear infinite;

}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
}

.tags{
    display: flex;
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.5), rgba(255,255,255,0.3));
    border-radius: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 80%;
    margin-left: 2rem ;
}

.tags:hover{
    background-color: aquamarine;
}

.title{
    font-size: 4rem;
    padding: 2rem;
}

.p{
    font-size: small;
}

.h3{
    font-size: medium;
}

.icons{

    margin-right: 1rem;
}

@keyframes circle1 {
    0%, 100%{
        transform: translateY(200px);
    }
    50%{
        transform: translateY(-50px);
    }
}
@keyframes circle2 {
    0%, 100%{
        transform: translateY(0px);
        transform: translateX(50px);
    }
    25%{
        transform: translateY(100px);
    }
    50%{
        transform: translateY(300px);
    }
    75%{
        transform: translateX(100px);
    }
}
@keyframes circle3 {
    0%, 100%{
        transform: translateY(100px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateX(100px);
    }
}



@media screen and (max-width:1000px) {
    .duck{
        display: none;
    }
    .grid{
        display: block;
    }
    .hero{
        margin-left: 0;
    }
}



