.main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    
}

.header{
    text-align: center;
    font-weight: bolder;
    color: white;
    padding-top: 5rem;
}

.div{
    height: 25rem;
    width: 100%;
    padding: 2rem;
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.2), rgba(255,255,255,0.3));
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
}

.image{
    border-radius: 50%;
}

.circle1, .circle2, .circle3{
    border-radius: 50%;
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.2), rgba(12, 183, 226, 0.7));
    position: absolute;
}

.circle1{
    height: 7rem;
    width: 7rem;
    top:50%;
    right: 15%;
    animation: circle1 15s linear infinite;
}

.circle2{
    height: 5rem;
    width: 5rem;
    top:0%;
    left:22%;
    animation: circle2 15s linear infinite;
}

.circle3{
    height: 5rem;
    width: 5rem;
    top:30%;
    animation: circle3 10s linear infinite;
}

@keyframes circle1 {
    0%, 100%{
        transform: translateY(50px);
    }
    50%{
        transform: translateX(-150px);
    }
}
@keyframes circle2 {
    0%, 100%{
        transform: translateY(0px);
        transform: translateX(50px);
    }
    25%{
        transform: translateY(50px);
    }
    50%{
        transform: translateY(-50px);
    }
    75%{
        transform: translateX(100px);
    }
}
@keyframes circle3 {
    0%, 100%{
        transform: translateY(100px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateX(-25px);
    }
}


@media screen and (max-width:1000px) {
    .card{
        width: 90%;
    }
}
