.main{
    display: grid;
    grid-template-columns:1fr 1fr;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 2rem;
    background: linear-gradient(to right top, rgba(87, 168, 157, 0.8), rgba(255, 140, 140, 0.3));
    backdrop-filter: blur(.7rem);
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    font-weight: 700;
    color:black;
}

.flex > div{
    color: white !important;
    font-weight: 400;
}

.header{
    text-align: center;
    font-weight:900;
    color: white;
}

.main:nth-child(even) .img{
    order: 1;
}

.flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img{
    transition: all 1s ease;
}

.img:hover{
    transform: scale(1.1);
    
}

.circle1, .circle2, .circle3{
    border-radius: 50%;
    background: linear-gradient(to right top, rgb(0, 255, 200), rgba(100, 255, 100, 0.788));
    position: absolute;
}

.circle1{
    height: 5rem;
    width: 5rem;
    top:50%;
    right: 17%;
    animation:  circle1 25s linear infinite;
}

.circle2{
    height: 4rem;
    width: 4rem;
    top:0%;
    left:22%;
    animation: circle2 35s linear infinite;
}

.circle3{
    height: 2rem;
    width: 2rem;
    top:30%;
    left: 40%;
    animation: circle3 40s linear infinite;
}

@keyframes circle1 {
    0%, 100%{
        transform: translateY(-150px);
    }
    50%{
        transform: translateY(100px);
    }
}
@keyframes circle2 {
    0%, 100%{
        transform: translateY(0px);
        transform: translateX(50px);
    }
    25%{
        transform: translateY(100px);
    }
    50%{
        transform: translateY(300px);
    }
    75%{
        transform: translateX(100px);
    }
}
@keyframes circle3 {
    0%, 100%{
        transform: translateY(100px);
    }
    50%{
        transform: translateY(300px);
    }
    75%{
        transform: translateX(-25px);
    }
}

@media screen and (max-width:770px) {
    .main{
        display: block;
        width: 90%;
    }

}