.grid{
    display: grid;
    grid-template-columns: repeat(4, auto);
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.2), rgba(255,255,255,0.3));
    backdrop-filter: blur(1rem);
    padding: 3rem;
    color: black;
    justify-content: space-evenly;
    cursor: pointer;
    
}

.main{
    position: relative;
}

.circle{
    position: absolute;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    top: 5%;

    background-color: rgb(168, 236, 214);
    animation: circle 15s linear infinite;
}



.title{
        font-weight: bolder;
        font-size: 1.5rem;
}

.content{
    font-weight: 500;
    font-size: medium;
}

.circle1, .circle2, .circle3{
    border-radius: 50%;
    background: linear-gradient(to right top, rgb(0, 255, 200), rgba(100, 255, 100, 0.788));
    position: absolute;
}

.circle1{
    height: 6rem;
    width: 6rem;
    top:10%;
    right: 17%;
    animation:  circle1 15s linear infinite;
}

.circle2{
    height: 4rem;
    width: 4rem;
    top:0%;
    left:22%;
    animation: circle2 25s linear infinite;
}

.circle3{
    height: 2rem;
    width: 2rem;
    top:30%;
    left: 50%;
    animation: circle3 40s linear infinite;
}

@keyframes circle1 {
    0%, 100%{
        transform: translateY(50px);
    }
    50%{
        transform: translateY(100px);
    }
}
@keyframes circle2 {
    0%, 100%{
        transform: translateY(0px);
        transform: translateX(50px);
    }
    25%{
        transform: translateY(50px);
    }
    50%{
        transform: translateY(-50px);
    }
    75%{
        transform: translateX(100px);
    }
}
@keyframes circle3 {
    0%, 100%{
        transform: translateY(100px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateX(-25px);
    }
}

@media screen and (max-width:1000px) {

    .grid{
        grid-template-columns: repeat(2,auto);
        row-gap: 1rem;
                text-align: center;

    }
   
}


@media screen and (max-width:500px) {

    .grid{
        grid-template-columns: auto;
        row-gap: 1rem;
        text-align: center;
    }

}