html,
body {
  padding: 0;
  margin: 0;
    background:linear-gradient(to right bottom, #2b81eb,  #ff147a);

}

.app{
font-family: 'Montserrat', sans-serif;}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
