.logo{
    height: 4rem;
    width: 4rem;

}

.flex{
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 0rem;

}

@media screen and (max-width:500px) {
    .logo{
       height: 2.5rem;
    width: 2.5rem; 
    }
}