.navbar{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.5rem;
}

.nav{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5rem; 
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; 
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255,255,255,0.2));
    backdrop-filter: blur(1rem);
    position: sticky;
    top: 0;
    z-index: 2;
}

.a{
    text-decoration: none;
    color: black !important;
    transition: color .2s ease-in-out;
}

.a:hover{
    color:  rgb(82, 39, 138) !important;
}

.get_started{
    border-radius: 999rem;
    padding: .3rem 1rem;
    border: none;
    color: blueviolet;
    transition: transform .6s ease;
    font-size: smaller;
}

.get_started:hover{
    background-color: rgb(166, 239, 248);
    color: black;
}