.navbar{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.5rem;
}

.nav{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5rem; 
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem; 
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255,255,255,0.2));
    backdrop-filter: blur(1rem);
    position: sticky;
    top: 0;
    z-index: 2;
}

.a{
    text-decoration: none;
    color: rgb(95, 94, 94) !important;
    transition: color .2s ease-in-out;
}

.a:hover{
    color:  black !important;
}

.get_started{
    border-radius: 2rem;
    border: none;
    font-size: medium;
    background-color: whitesmoke;
    color: black;
    padding: .5rem 1.5rem;
    box-shadow: 0 1px 5px rgb(44, 44, 44);
    transition: all 0.3s ease;
}

.get_started:hover{
    background-color: rgb(166, 239, 248);
    color: black;
}