.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 90%;
    color: rgb(70, 70, 70);
    text-align: center;
}

.back{
    position: relative;
}

.color{
    position: absolute;
    background:linear-gradient(to left bottom,  #ff147a, #2b81eb);
    height: 30rem;
    width: 100%;
    top:30%;
}

.price{
    height: 30rem;
    width: 90%;
    padding: 2rem;
     margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(.5rem);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform .6s ease;
}

.head{
    font-size: 2rem;
    color: black;
    font-weight: 500;
}

.dollar{
    font-size: 4rem;
    color: black;
}

.price:nth-child(1){
background: linear-gradient(to top, #f3c465, #dd65c5); 
}

.price:nth-child(2){
    transform: scale(1.1);
background: linear-gradient(to bottom, #dd65c5,rgb(104, 178, 247));}

.price:nth-child(3){
background: linear-gradient(to bottom, #dd65c5, #dcdd81);}
  
.price:hover{
    transform: scale(1.1);
}

.btn{
    border-radius: 999rem;
    padding: .3rem 1rem;
    border: none;
    color: blueviolet;
    font-weight: bold;
    margin: 1rem 3rem;
    transition: transform .6s ease;
}

.btn:hover{
    transform: scale(1.1);
}

.p{
    font-size: larger;
    font-weight: 600;
    margin-top: 2rem;
}

@media screen and (max-width:1000px) {
    .main{
        display: block;
    }
    .price{
        margin-bottom: 2rem;
        height: auto;
        width: 95%;
    }

    .price:hover{
    transform: none;
}
}